body {
background-color: rgb(61, 184, 186);
text-align: center;
font-family: 'Carter One', cursive;
color: rgb(11, 11, 11);
letter-spacing: 4px;

}

.add-new{
  background-color: rgba(255, 161, 79, 0.927);
  width: 600px;
  height: 740px;
  display: flex;
  justify-content: center;
  margin-left: 30%;
  margin-top: -49%;
  text-align: center;
  padding: 20px;
  justify-content: space-around;
  font-family: 'Oswald', sans-serif;
  font-size: 22px;
  margin-bottom: 50px;
}
form {
  font-family: 'Oswald', sans-serif;

}
input {
display: flex;
flex-direction: column;
width: 200px;
height: 30px;
text-align: center;
margin-top: 10px;
margin-bottom: 10px;
border-radius: 20px;
font-family: 'Oswald', sans-serif;
font-size: 19px;

}


.add-button {
height: 45px;
width : 100px;
margin-left: 0%;
text-align: center;
justify-content: center;
border-style: none;
color: rgb(33, 33, 33);
text-decoration: none;
font-family: 'Carter One', cursive;
font-size: 19px;
margin-top: 15px;
text-align: center;
font-size: 20px;

}
.add-button:hover {
background-color: tomato;
}
