body {
background-color: rgb(61, 184, 186);
text-align: center;
font-family: 'Carter One', cursive;
color: rgb(11, 11, 11);
letter-spacing: 4px;

}

.add-new{
  background-color: rgba(255, 161, 79, 0.927);
  width: 39vw;
  height: 48vw;
  display: flex;
  justify-content: center;
  margin-left: 30%;
  margin-top: 3%;
  text-align: center;
  padding: 20px;
  justify-content: space-around;
  font-family: 'Oswald', sans-serif;
  font-size: 1.5vw;
  margin-bottom: 30vw;
}
form {
  font-family: 'Oswald', sans-serif;

}
input {
display: flex;
flex-direction: column;
width: 15vw;
height: 2vw;
text-align: center;
margin-top: 6%;
margin-bottom: 6%;
border-radius: 20px;
font-family: 'Oswald', sans-serif;
font-size: 1vw;

}


.add-button {
height: 3vw;
width : 10vw;
margin-left: 0%;
text-align: center;
justify-content: center;
border-style: none;
color: rgb(33, 33, 33);
text-decoration: none;
font-family: 'Carter One', cursive;
font-size: 19px;
margin-top: 10%;
text-align: center;
font-size: 1.6vw;

}
.add-button:hover {
background-color: tomato;
}


/* MEDIA  */

@media only screen and  (max-width: 700) {
  body {
height: 100%;
  }
    
  .add-new {
     display: flex;
     min-height: 100%;

    }

    form {
      display: flex;
    
    }

    input {
      display: flex;
    
    }
    
    
    .add-button {
      display: flex;
    
    }


}