.fix-div {
  margin-top: -55%;
}

.total-book img {
  width: 370px;
  height: auto;
  left: 588px;
  margin-top: -470px;
  padding-left: 10px;
  display: flex;
  
  }
  
  .book-title, .author, .chaptersread, .start-date, .lastread, .thoughts {
    font-size: 13.5px;
    margin-top: -5px;
    margin-bottom: -5px;
    font-family: 'Carter One', cursive;
    text-shadow: 1.5px 1.5px black;
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
    
    
   
  }
  
  
  
  .total-book{
    background-color: rgba(138, 138, 138, 0.954);
    background-size: contain;
    width: 600px;
    height: 600px;
    display: flex;
    margin-left: 9%;
    text-align: right;
    flex-wrap: wrap;
    display: inline-flex;
    flex-direction: column;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 10px;
    margin-top: 100px;
    margin-bottom: 820px;
    
    
    
  }
 .button-fix {
width: 31px;
height: 40px;
margin-left: 20px;
 }
  
  .trash {
    background-color: transparent;
    border: none;
    font-size: 25px;
    display: flex;
    justify-content: center;
    text-align: center;
    color: rgb(46, 46, 46);
   
    
    
  }
  
  .delete-button:hover {
  background-color: tomato;

  }