.log-input {
font-family: 'Oswald', sans-serif;
width: 25vw;
}

.thought-input {
height: 6vw;
width: 25vw;
}

.log-form {
  font-family: 'Oswald', sans-serif;
  text-shadow: none;
  
}
.add-log {

width: 47vw;
height: 35vw;
background-color: rgba(255, 216, 59, 0.906);
display: flex;
flex-wrap: wrap;
justify-content: center;
text-align: center;
margin-top: 5%;
margin-left: 27%;
color: black;
font-family: 'Oswald', sans-serif;
font-size: 1.5vw;
padding-bottom: 3vw;

}
.log-button {
width: 7vw;
height: 3vw;
font-family: 'Carter One', cursive;
border-style: none;
margin-left: 0%;
font-size: 1vw;

}
.log-button:hover {
  background-color: tomato;
  }

  .show-log {
  width: 50vw;
  height: 37vw;
  background-color: rgba(254, 254, 254, 0.899);
  text-align: left;
  justify-content: flex-start;
  display: flex;
  margin-left: 27%;
  margin-top: 10%;
  margin-bottom: 5%;
  font-size: 1vw;
  padding-right: 10px;

  }
.book-show {
margin-left: -70%;

  }
.date-show {
margin-left: -70%;
    }
.log-show {
 margin-left: -38%;
 width: 70vw;
 
  }
.h-one {
width: 6vw;
height: 2vw;
font-size: 1vw;
margin-left: 43%;
background-color: rgba(255, 216, 59, 0.906);
border-radius: 25px;
padding: .1vw;
font-size: 1vw;
display: flex;
justify-content: center;
font-family: 'Oswald', sans-serif;


}
.h-thoughts {
width: 6vw;
height: 2vw;
font-size: 1vw;
margin-left: 41%;
background-color: rgba(255, 216, 59, 0.906);
border-radius: 25px;
padding: .1vw;
font-size: 1vw;
display: flex;
justify-content: center;
font-family: 'Oswald', sans-serif;

}

.delete-log {
  height: 2vw;
  width: 3vw;
  margin-left: 40%;
  margin-top: 17%;
}

  .log-trash {
  border: none;
  background-color: transparent;
  font-size: 1.5vw;
  padding-top: 2px;
  
  height: 2vw;
  width: 3vw;

  }
  .delete-log:hover {
 background-color: tomato;
  
    }

.log-data {
margin-left: 46%;
font-family: 'Oswald', sans-serif;
}


/* MEDIA  */

@media only screen and  (max-width: 700) {

  .log-input {
    display: flex;
    }
    
    .thought-input {
      display: flex;
    }
    
    .log-form {
      display: flex;
      
    }
    .add-log {
      display: flex;
    
    
    }
    .log-button {
      display: flex;
    
    }
    .log-button:hover {
      display: flex;
      
      }
    
      .show-log {
        display: flex;
        flex-wrap: wrap;
        flex-flow: row wrap;
     
      }
    .book-show {
      display: flex;
   
      }
    .date-show {
      display: flex;
  
        }
    .log-show {
      display: flex;
    
      }
    
    .delete-log {
      display: flex;
     
    }
    
      .log-trash {
        display: flex;
      
    
      }
  
    
    .log-data {
      display: flex;
    
    }
    

}