.log-input {
font-family: 'Oswald', sans-serif;
width: 105%;
}

.thought-input {
height: 100px;
width: 105%;
}

.log-form {
  font-family: 'Oswald', sans-serif;
  text-shadow: none;
  
}
.add-log {

width: 45%;
height: 500px;
background-color: rgba(255, 216, 59, 0.906);
display: flex;
justify-content: center;
text-align: center;
margin-left: 30%;
margin-top: -50%;
color: black;
font-family: 'Oswald', sans-serif;
font-size: 140%;

}
.log-button {
width: 27%;
height: 35px;
font-family: 'Carter One', cursive;
border-style: none;

}
.log-button:hover {
  background-color: tomato;
  }

  .show-log {
  width: 50%;
  height: 500px;
  background-color: rgba(254, 254, 254, 0.899);
  text-align: left;
  justify-content: flex-start;
  display: flex;
  margin-left: 28%;
  margin-top: 7%;
  margin-bottom: 5%;
  }
.book-show {
margin-left: -70%;
  }
.date-show {
margin-left: -70%;
    }
.log-show {
 margin-left: -70%;
  }

.delete-log {
  margin-left: -5%;
  margin-top: 65%; 
  height: 30px;
}

  .log-trash {
  border: none;
  background-color: transparent;
  font-size: 150%;
  padding-top: 2px;
  margin-bottom: 2%;

  }
  .delete-log:hover {
 background-color: tomato;
  
    }

.log-data {
margin-left: 46%;
font-family: 'Oswald', sans-serif;
}

html,
body {
    /*background: red;*/
    height: 100%;
}
@media (min-width: 600px) {
  html,
  body {
      /*background: green;*/
      height: 100%;
  }
}