body {
  text-align: center;
  background-image: url("./wallpaperflare.com_wallpaper\ \(2\).jpg");
  background-size: contain;
  background-color: rgba(245, 191, 75, 0.899);
  
  
}
.header-fix {
  display: flex;
  font-family: 'Fredoka One', cursive;
  text-shadow: 2px 2px rgb(31, 31, 31);
  background-color: rgba(232, 232, 232, 0.865);
  width: 80%;
  font-size: 600%;
  color: rgba(255, 170, 42, 0.968);
  justify-content: center;
  margin-left: 14.5%;
  border-radius: 25px;
  margin-top: -54%;
  padding: -10%;
  letter-spacing: 11px;
  

}
 h1 {
  color: rgb(43, 43, 43);
  font-family: 'Carter One', cursive;
  font-size: 17px;
  width: 144px;
  margin-left: 460px;
  background-color: rgba(255, 200, 62, 0.858);
  border-radius: 20px;
  text-align: center;
  text-shadow: none;
  
 
} 

.welcome {
  display: flex;
  font-family: 'Fredoka One', cursive;
  text-shadow: 2px 2px rgb(31, 31, 31);
  background-color: rgba(96, 96, 96, 0.954);
  width: 50%;
  height: 200px;
  font-size: 700%;
  color: rgba(250, 250, 250, 0.968);
  text-align: center;
  justify-content: center;
  letter-spacing: 10px;
  margin-left: 28%;
  margin-top: 10%;
  padding-top: 50px;
  border: solid;
  border-color: rgba(43, 43, 43, 0.673);



}
.empty {
width: 100%;
height: 100px;

}


.nav-bar {

font-size: 480%;
padding: 10px;
padding-bottom: 10px;
margin-left: 1.5%;
margin-top: 1%;
background-color: rgba(232, 232, 232, 0.865);
height: 100%;
width: 10%;
border-radius: 25px;
font-family: 'Fredoka One', cursive;
text-shadow: 2px 2px rgb(31, 31, 31);
display: flex;
justify-content: center;

}

.home-icon {
  text-decoration: none;
  color: rgb(211, 165, 48);
}
.book-icon {
  text-decoration: none;
  color: rgb(34, 193, 124);
}
.new-icon {
  text-decoration: none;
  color: rgb(218, 105, 85)
}
.write-icon {
  text-decoration: none;
  color: rgb(40, 178, 237);
}
.home-icon:hover {
background-color: rgba(201, 201, 201, 0.906);
}
.book-icon:hover {
background-color: rgba(201, 201, 201, 0.906);
}
.new-icon:hover {
  background-color:rgba(201, 201, 201, 0.906);
}
.write-icon:hover {
  background-color: rgba(201, 201, 201, 0.906);
}

html,
body {
    height: 100%;
}
@media (min-width: 600px) {
  html,
  body {
      height: 100%;
  }
}