body {
  text-align: center;
  background-image: url("./wallpaperflare.com_wallpaper\ \(2\).jpg");
  background-size: contain;
  background-color: rgba(245, 191, 75, 0.899);
  
}

.header-fix{
  background-color: rgba(232, 232, 232, 0.865);
  width: 1190px;
  height: 130px;
  font-size: 110px;
  color: rgba(255, 170, 42, 0.968);
  text-align: center;
justify-content: center;
  margin-left: 14.5%;
  border-radius: 25px;
  margin-top: 25px;
  padding: -10px;
  letter-spacing: 10px;
}

header {
position: absolute;
top: 15px;
left: 35%;
font-family: 'Fredoka One', cursive;
text-shadow: 2px 2px rgb(31, 31, 31);
}
h1 {
  color: rgb(247, 166, 25);
}

.book-title, .author, .chaptersread, .start-date, .lastread, .starreview, .thoughts {
  font-size: 14px;
  margin-top: -5px;
  margin-bottom: -5px;
}



.total-book{
  background-color: rgba(138, 138, 138, 0.954);
  background-size: contain;
  width: 600px;
  height: 600px;
  display: flex;
  margin-left: 13%;
  text-align: right;
  flex-wrap: wrap;
  display: inline-flex;
  flex-direction: column;
  padding-right: 40px;
  padding-bottom: 5px;
  padding-top: 5px;
  margin-top: 50px;
  color: rgb(255, 255, 255);
  letter-spacing: 4.5px;
  border-radius: 10px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  text-shadow: 1.5px 1.5px black;
  
}
.nav-bar {

font-size: 45px;
padding: 18px;
margin-left: -10px;
margin-right: 50px;
position: absolute;
left: 25px;
background-color: rgba(232, 232, 232, 0.865);
height: 600px;
width: 140px;
border-radius: 25px;
font-family: 'Fredoka One', cursive;
text-shadow: 2px 2px rgb(31, 31, 31);
}

